# macOS
.DS_Store

# Vim
*~
*.swp

# Python
*.py[cod]
*$py.class
build/
dist/

# tvserver Python backend
venv/
tvserver/__pycache__/
tvserver.egg-info/
env.properties

# webapp React frontend
webapp/build.zip
